<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxzx74147.charttest">


    <application
        android:name=".ZXApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
        android:name="api_version"
        android:value="1.0.0">
    </meta-data>

        <meta-data
            android:name="test_version"
            android:value="v20180326_1">
        </meta-data>

        <meta-data
            android:name="app_version"
            android:value="1.0.0(Build_2018032102)" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3291dbeae0619eda62b1ff1387dddb9fb3261372" />

        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="24814378" /> <!-- 请填写你自己的- appKey -->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="b4474e6cf05380d7f6d7c380edbbb9e8" /> <!-- 请填写你自己的appSecret -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5ab89ae8b27b0a62070000ed" />


        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="main" />

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".MainFeedActivity"
            android:screenOrientation="portrait"/>


        <activity android:name=".LauncherActivity"
            android:theme="@style/LaunchStyle"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.zxzx74147.live.layout.LiveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            />

        <receiver android:name=".push.AliPushReceiver">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>